<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>何倫碼測驗結果</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:pink; font-size:60px;}
	</style>

</head>
<body>
		<h1>測驗結果</h1>
		<table width="70%" border="1">
		</td>
			</tr>
	
		<tr>
			<td>
				S社會 x R實做<br>
				<img src="rs.png"></img><br>
			</td>

			<td>
				興趣何倫碼<br>
				<img src="ins.png"></img><br>
			</td>
		</tr>
	</table>

</body>
</html>