<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>求職自傳履歷</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:pink; font-size:60px;}
	</style>

</head>
<body>
		<h1>賴品瑄的求職自傳履歷</h1>
		<table width="70%" border="1">
		</td>
			</tr>
	
		<tr>
			<td>
				自我介紹<br>
				我是賴品瑄，目前就讀靜宜大學資訊管理系二年級，對於未來還在摸索中，但會努力學習大學裡的課業，讓自己有更多的技能和專長。<br>
			</td>
			<td>
				未來規劃<br>
				目前對於未來規劃是希望能在一間公司裡把我在學的所有既能發揮出來。也會不斷地學習新的事物，能夠幫助公司，不成為老鼠屎。<br>
			</td>
		</tr>
	</table>

</body>
</html>