<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>賴品瑄的基本介紹</title>
  <style type="text/css">
    * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
    h1 {color:yellow; font-size:60px;}
    h2 {color:#33ff33; font-size:40px;}
  </style>

</head>
<body>
  <table width="70%">
      <td>
        <img src="pic.png" width="100%"></img>
      </td>
        <td>
        <h1>賴品瑄</h1>
        <h2>靜宜資管</h2>
      </td>
    </table>
    <table width="70%" border="1">
    <tr>
      <td>
        <h3>關於我</h3>
        系級:資訊管理學系二A<br>
        學號:411111868<br>
        E-Mail:s1111186@o365st.pu.edu.tw<br>
      </td>
      <td>
        <h3>推薦影片</h3>
        <iframe src="https://www.youtube.com/embed/9kpuOoIh3wU" allowfullscreen></iframe>
      </td>
    </tr>
  </table>    
</body>
</html>
