<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>相關工作介紹</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:black; font-size:60px;}
	</style>

</head>
<body>
		<h1>愛力能復健科診所</h1>
		<table width="80%" border="1">
		</td>
			</tr>
	
		<tr>
			<td>
				公司名:愛力能復健科診所<br>
				地址:台中市南區福田路77巷2號<br>
				職務類別:職能治療師<br>
			</td>

			<td>
				工作內容<br>
				1.評估、會談，了解案主生理、心理及社會三方面的功能。<br>
				2.設計活動，讓案主可從中學習、練習或加強、改善各種生活技能及心態。<br>
				3.透過各式輔具等設備來改善或代償失能部分，以確保生活或就業能力。<br>
			</td>

			<td>
				條件要求<br>
				工作經歷:不拘<br>
				學歷要求:大學、碩士<br>
				科系要求:不拘<br>
				語文條件:不拘<br>
				擅長工具:不拘<br>
				工作技能:不拘<br>
				具備證照:高考職能治療師<br>
				其他條件:未填寫<br>
			</td>
		</tr>
	</table>

</body>
</html>